@tailwind base;
@tailwind components;
@tailwind utilities;

@import "flowbite";

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

@layer base {
	.root {
		@apply flex min-h-screen w-full bg-white lg:flex-row;
	}
}

@layer utilities {
	.header-box {
		@apply flex flex-col gap-1 mb-8;
	}

	.header-box-title {
		@apply text-[24px] font-semibold text-gray-900;
	}

	.header-box-subtext {
		@apply text-[14px] font-normal text-gray-600;
	}

	.sidebar {
		@apply fixed h-screen w-60 bg-gray-800 p-3 shadow-md shadow-purple-200/50;
	}

	.sidebar-nav {
		@apply h-full flex-col justify-between md:flex md:gap-4 p-4 px-1;
	}

	.sidebar-nav_elements {
		@apply hidden w-full flex-col items-start gap-2 md:flex;
	}

	.sidebar-nav_element {
		@apply flex items-center justify-center w-full whitespace-nowrap transition-all tracking-wider;
	}

	.sidebar-link {
		@apply flex size-full text-[14px] font-medium gap-3 px-5 py-2.5 items-center hover:shadow-inner hover:opacity-75;
	}

	.header-box {
		@apply flex flex-col gap-1;
	}

	.header-box-title {
		@apply text-[27px] lg:text-[30px] font-semibold text-gray-900 capitalize;
	}

	.header-box-subtext {
		@apply text-[14px] lg:text-[16px] font-normal text-gray-600;
	}

	.add-spot-forms {
		@apply flex-1 w-full;
	}

	.owners-data-box {
		@apply flex-1 min-w-[250px] max-w-[400px] min-h-[150px] bg-gray-100 outline-none border-none rounded-xl;
	}

	.prom-content {
		@apply px-16 py-8 mb-8;
	}

	.offers-box {
		@apply min-w-[300px] p-6 rounded-md bg-white shadow-md flex-1;
	}

	.prom-spot-box {
		@apply flex-1 h-[400px] min-w-[350px] max-w-[380px] rounded-lg;
	}
	.prom-footer {
		@apply h-[100px] w-full border bg-gray-100 px-16 py-4;
	}
}

/* HTML: <div class="loader"></div> */
.loader {
	width: 40px;
	aspect-ratio: 1;
	position: relative;
	transform: rotate(45deg);
}
.loader:before,
.loader:after {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: 50% 50% 0 50%;
	background: #514b82;
	-webkit-mask-mask: radial-gradient(circle 10px at 50% 50%, #0000 94%, #000);
}
.loader:after {
	animation: l6 1s infinite;
	transform: perspective(300px) translateZ(0px);
}
@keyframes l6 {
	to {
		transform: perspective(300px) translateZ(150px);
		opacity: 0;
	}
}
